@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.homepage{
  margin:0;
  overflow-x:hidden;
}

a{
  text-decoration: none;
}

p{
  margin:0;
}

footer {
  margin-left: 21.35vw;
  padding: 1.25vw;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6666666666666667vw;
  font-style: italic;

}

footer div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:  0.4166666666666667vw;
}

footer div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:  0.4166666666666667vw;
}

.social button {
  color: #fff;
  border: none;
  border-radius: 50%;
  padding:  0.4166666666666667vw;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  filter: brightness(0.8);
}